body {
	background-image: url('banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Verdana;
}

.header-class {
  text-align: center;
  position: relative;
  top: 50px; 
  font-family: inherit;
}

.survey-container {
	margin: auto;
	margin-top: 100px;
	padding: 20px;
	width: 50%;
	background-color: #fff;
	opacity: 0.8;
	text-align: left;
	font-family: Verdana;
}

h1 {
	font-size: 40px;
	margin-bottom: 20px;
}

form {
	display: inline-block;
	text-align: left;
	font-family: Verdana;
}

label {
	display: block;
	margin-bottom: 10px;
}

select {
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	width:100%;
}

/* button {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	cursor: pointer;
} */

button {
    background-color: #FDF5E6;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

